doctype html
html
    head
        title= 'Local: a new way to travel'
        meta(name="description" content='Local is an iPhone app that gathers activities and experiences located around the user, displaying them ranked by popularity and satisfaction. It provides everything there is to do in your area, so that you never miss out on a fun experience again just because “No one told you.” Whether you’re a seasoned veteran, or a total newbie, Local helps you get past the hotel info desk and out into the real world, where the real fun is!')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
    body
        block content
